.radioButtonGroup {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 44px;
}

.radioButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 96px;
  border: 1px solid #dadde1;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}

.truckType {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;
}

.radioButton.checked {
  border-color: #e44848;
}

.iconWrapper {
  font-size: 24px;
  margin-bottom: 8px;
  color: #555;
}

.radioBtnIcon {
  width: 32px;
  height: 32px;
}
