.filtersWrapper {
  margin-bottom: 40px;
}

.filtersTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  width: 360px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #dadde1;
}
