.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.locationContainer {
  margin-bottom: 40px;
}

.locationInput {
  width: 360px;
  height: 56px;
  padding: 8px;
  margin-top: 5px;
  background-color: #f7f7f7;
  border-radius: 12px;
}

.errorMessage {
  margin-left: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: red;
}

.error-message {
  color: red;
  font-size: 12px;
}

.sectionTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #dadde1;
}

.checkboxContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-items: center;
}
.filtersTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin-bottom: 32px;
}

.submitButton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background-color: #e44848;
}
