html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

.pageContentWrapper {
  margin: 16px 0;
  gap: 16px;
  /* За замовчуванням секції одна під одною */
  display: flex;
  flex-direction: column;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
}

.active {
  border-bottom: 5px solid #e44848;
}
